@charset "UTF-8";

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    font-weight: bold;
    background-image: linear-gradient(to right, blue, indigo, purple,red, 
    orange, yellow, green, blue);
}

div{
    width: 500px;
    margin: auto;
}

button{
  border: 2;
  padding: 50px;
  width: 200px;
  height: 50px;
  display: inline-block;
  margin: 12px;
  border-radius: 14px;
  box-shadow: 1px 1px 5px;
}
